		<!-- BEGIN: PAGE CONTENT
		<div class="c-content-box c-size-lg">
      <div class="container"> -->
        <form class="c-shop-form-1" (ngSubmit)="placeorder()" #f="ngForm">
          <!-- <div class="row">  -->
            <!-- BEGIN: ADDRESS FORM -->
            <div class="col-md-7 c-padding-20">
              <!-- BEGIN: BILLING ADDRESS -->
              <h3 class="c-font-bold c-font-uppercase c-font-24">Billing Address</h3>
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="control-label">Country</label>
                  <select class="form-control c-square c-theme">
                    <option value="1">Nederland</option>
                    <option value="2">Belgie</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label class="control-label">First Name</label>
                      <input type="text" class="form-control c-square c-theme" placeholder="First Name">
                    </div>
                    <div class="col-md-6">
                      <label class="control-label">Last Name</label>
                      <input type="text" class="form-control c-square c-theme" placeholder="Last Name">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="control-label">Company Name</label>
                  <input type="text" class="form-control c-square c-theme" placeholder="Company Name">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="control-label">Address</label>
                  <input type="text" class="form-control c-square c-theme" placeholder="Street Address" name="street" [(ngModel)]="order.street">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <input type="text" class="form-control c-square c-theme" placeholder="Street Number" name="streetno" [(ngModel)]="order.streetno">
                </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <input type="text" class="form-control c-square c-theme" placeholder="Street Number Addition" name="streetnoadd" [(ngModel)]="order.streetnoadd">
                  </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="control-label">Town / City</label>
                  <input type="text" class="form-control c-square c-theme" placeholder="Town / City">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label class="control-label">State / County</label> <select class="form-control c-square c-theme">
                        <option value="0">Select an option...</option>
                        <option value="1">Malaysia</option>
                        <option value="2">Singapore</option>
                        <option value="3">Indonesia</option>
                        <option value="4">Thailand</option>
                        <option value="5">China</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label class="control-label">Postcode / Zip</label>
                      <input type="text" class="form-control c-square c-theme" placeholder="Postcode / Zip" name="postalcode" [(ngModel)]="order.postalcode">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label class="control-label">Email Address</label>
                      <input type="email" class="form-control c-square c-theme" placeholder="Email Address">
                    </div>
                    <div class="col-md-6">
                      <label class="control-label">Phone</label>
                      <input type="tel" class="form-control c-square c-theme" placeholder="Phone">
                    </div>
                  </div>
                </div>
              </div>
              <!-- BILLING ADDRESS -->
             
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="control-label">Order Notes</label>
                  <textarea class="form-control c-square c-theme" rows="3" placeholder="Note about your order, e.g. special notes for delivery."></textarea>
                </div>
              </div>
            </div>
            <!-- END: ADDRESS FORM -->
            <!-- BEGIN: ORDER FORM -->
            <div class="col-md-5">
              <div class="c-content-bar-1 c-align-left c-bordered c-theme-border c-shadow">
              <h1 class="c-font-bold c-font-uppercase c-font-24">Your Order</h1>
              <ul class="c-order list-unstyled">
                <li class="row c-margin-b-15">
                  <div class="col-md-6 c-font-20"><h2>Product</h2></div>
                  <div class="col-md-6 c-font-20"><h2>Total</h2></div>
                </li>
                <li class="row c-border-bottom"></li>
                <li class="row c-margin-b-15 c-margin-t-15" *ngFor="let product of products">
                  <div class="col-md-6 c-font-20"><a routerLink="/product/{{product.id}}" class="c-theme-link">{{product.productname}}</a></div>
                  <div class="col-md-6 c-font-20">
                    <p class="">&euro;{{product.price}}</p>
                  </div>
                </li>
                <!-- <li class="row c-margin-b-15 c-margin-t-15">
                  <div class="col-md-6 c-font-20">Subtotal</div>
                  <div class="col-md-6 c-font-20">
                    <p class="">&euro;<span class="c-subtotal">{{total}}</span></p>
                  </div>
                </li> -->
                <li class="row c-border-top c-margin-b-15"></li>
                <li class="row">
                  <div class="col-md-6">
                    Free Shipping!
                  </div>
                </li>
                <li class="row c-margin-b-15 c-margin-t-15">
                  <div class="col-md-6 c-font-20">
                    <p class="c-font-30">Total</p>
                  </div>
                  <div class="col-md-6 c-font-20">
                    <p class="c-font-bold c-font-30">$<span class="c-shipping-total">{{total}}</span></p>
                  </div>
                </li>
                <li class="row">
                  <div class="col-md-12">
                    <div class="c-radio-list">
                        Payment Method:
                      <div class="c-radio">
                        <input type="radio" id="radio1" class="c-radio" name="payment" checked="">
                        <label for="radio1" class="c-font-bold c-font-20">
                          <span class="inc"></span>
                          <span class="check"></span>
                          <span class="box"></span>
                          Direct Bank Transfer
                        </label>
                        <p class="help-block">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="row c-margin-b-15 c-margin-t-15">
                  <div class="form-group col-md-12">
                    <div class="c-checkbox">
                      <input type="checkbox" id="checkbox1-11" class="c-check"  [(ngModel)]="CheckboxTerms" (click)="CheckboxToggle()" [ngModelOptions]="{standalone: true}">
                      <label for="checkbox1-11">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        I’ve read and accept the Terms & Conditions
                      </label>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <div class="form-group col-md-12" role="group" *ngIf="CheckboxTerms == true">
                    <!--  routerLink="/checkout-complete" -->
                    <button type="submit" routerLink="/checkout-complete" (click)="clearCart()" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">Submit</button>
                    <button routerLink="/cart" type="cancel" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">Cancel</button>
                  </div>
                  <!-- <div class="form-group col-md-12" role="group" *ngIf="CheckboxTerms == true">
                      <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">Submit</button>
                      <button routerLink="/cart" type="cancel" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">Cancel</button>
                    </div> -->
                </li>
              </ul>
            </div>
            </div>
            <!-- END: ORDER FORM -->
          <!-- </div> -->
        </form>
      <!--</div>
    </div>   -->
        <!-- END: PAGE CONTENT -->
     
      <!-- END: PAGE CONTAINER -->