.header {
  border-bottom: 4px solid #f5f5f6;
  // margin-left: 1%;
  margin-top: 1%;
  min-width: 100%;
}

.logo {
  img{ height: 15%;
    width: 15%;
  }
  float:auto;
  // width: 100%;
}

.right-top {
  float:right;
  // padding: 1.5%;
  // img {
  //   height: 40%;
  //   width: 40%;
  // }
  
  // float:right;
}