
<!-- <layout-category [category] = 'category'></layout-category> -->
<div class="wrapper">
    <!-- <div class="col-3"> -->
        <!-- <div class="col-3"  *ngFor='let categories of category'>
              <div > 
                <p class="d-holder d-title" >{{category.name}}</p>
            </div>
    </div> -->


<div class="filters" >
        <button type="button" class="close-side-btn" (click)="sideShown = false">x</button>
        <h5>Categories</h5>
          <div class="category-filter filter-wrapper" *ngFor="let tests of test">
            <label class="fake-checkbox">
              <!-- <input type="checkbox" checked (change)='onInputChange($event, filter, "category")'> -->
              <!-- <span class="square"><span class="fill"></span></span> -->
              <span class="label" ><a routerLink="/products/{{tests.categori_id}}">{{tests.name}}</a></span>
              <span></span>
            </label>
          </div>
        
      </div>
      