<div class="container">
  <div class="c-layout-sidebar-menu c-theme ">
    <!-- BEGIN: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU -->
    <div class="c-sidebar-menu-toggler">
      <h3 class="c-title c-font-uppercase c-font-bold">Navigation</h3>
      <a href="javascript:;" class="c-content-toggler" data-toggle="collapse" data-target="#sidebar-menu-1">
        <span class="c-line"></span>
        <span class="c-line"></span>
        <span class="c-line"></span>
      </a>
    </div>
    <app-category></app-category>
    <div class="c-padding-20 c-margin-t-40 c-bg-grey-1 c-bg-img-bottom-right" style="background-image:url(/assets/base/img/content/misc/feedback_box_2.png)">
      <div class="c-content-title-1 c-margin-t-20">
        <h3 class="c-font-uppercase c-font-bold">Have a question?</h3>
        <div class="c-line-left"></div>
        <form action="#">
          <div class="input-group input-group-lg c-square">
            <input type="text" class="form-control c-square" placeholder="Ask a question"/>
            <span class="input-group-btn">
				<button class="btn c-theme-btn c-btn-square c-btn-uppercase c-font-bold" type="button">Go!</button>
				</span>
          </div>
        </form>
        <p class="c-font-thin">Ask your questions away and let our dedicated customer service help you look through our FAQs to get your questions answered!</p>
      </div>
    </div><!-- END: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU -->
  </div>
  <div class="c-layout-sidebar-content ">
    <!-- BEGIN: PAGE CONTENT -->
    <router-outlet></router-outlet>
    <!-- END: PAGE CONTENT -->
  </div>
</div>
