/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

.main-webshop {
  float:auto;
  width:100%;
  min-height: 100%;
}


.static-menu {
float:left; 
// width:10%;
// min-height:400px;
width:15%;
font-size: 1em;
}

.container{
  // float:auto;
  max-width: 85%;
  // margin-left: 15%;
  overflow:auto;
  // padding: 3% 0 0 4%;
  float:left;
}

.foot {
position: absolute;
width:100%;
// bottom: 0;
padding-top: 20px;
display: block;
margin-top: 20px; /* space between content and footer */
}