<form class="c-shop-advanced-search-1" (ngSubmit)="f.form.valid && search()" #f="ngForm" >
  <div class="row">
    <div class="form-group col-md-12">
      <div class="row">
        <div class="col-md-6">
          <input name="keyword" type="text" class="form-control c-square c-theme input-lg" placeholder="Enter keywords or item number" [(ngModel)]="keyword">
        </div>
        <div class="col-md-6">
          <div class="form-group" role="group">
            <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold"><i class="fa fa-search"></i>Search</button>
            <button type="button" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold" (click)="clear()">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
<div class="row c-margin-b-40" *ngFor="let product of results">
  <div class="c-content-product-2 c-bg-white">
    <div class="col-md-4">
      <div class="c-content-overlay">
        <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
        <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
        <div class="c-overlay-wrapper">
          <div class="c-overlay-content">
            <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
          </div>
        </div>
        <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(../../assets/base/img/content/shop3/20.jpg);"></div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="c-info-list">
        <h3 class="c-title c-font-bold c-font-22 c-font-dark">
          <a class="c-theme-link" href="shop-product-details.html">{{product.name}}</a>
        </h3>
        <p class="c-desc c-font-16 c-font-thin">{{product.description}}</p>
        <p class="c-price c-font-26 c-font-thin">&euro; {{product.price}}
        </p>
      </div>
      <div>
        <button type="submit" class="btn btn-sm c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
          <i class="fa fa-shopping-cart"></i>Add Cart
        </button>
        <button type="submit" class="btn btn-sm btn-default c-btn-square c-btn-uppercase c-btn-bold">
          <i class="fa fa-heart-o"></i>Add Wishlist
        </button>
      </div>
    </div>
  </div>
</div>
